:root {
    --primary: #FF5A00;
    --secondary: #FFECB2;
    --success: #12c99b;
    --beige: #F2EDD3;
    --white: #ffffff;
    --red: #FF204E;
    --blue: #008DDA;
}

*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    background-color: var(--beige);
    height: min-content;
    width: 100%;
}

header {
    height: 10svh;
    width: 100%;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-logo {
    width: 200px;
    height: 100%;
}

header>section {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 44px;
    padding-right: 24px;
}

.navigation-container {
    display: flex;
    gap: 25px;
}

.navigation-container>li {
    max-height: 36px;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    background-color: transparent;
    border-radius: 12px;
    cursor: pointer;
    transition-duration: 300ms;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.navigation-container>li:hover {
    background: var(--primary);
    color: var(--white);
}

.navigation-container>li>h2 {
    font-size: .8em;
}

.search-book-container {
    position: relative;
}

.search-book-container>.search-book-input {
    height: 100%;
    width: 320px;
    border: solid 1px var(--primary);
    border-radius: 10px;
    font-size: .9em;
    padding-left: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.search-book-container>.search-book-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

main {
    height: 80svh;
    width: 100%;
    display: flex;
    position: relative;
    overflow-x: hidden;
}

#addBookForm, #editBookForm {
    height: 100svh;
    width: 35%;
    padding-left: 12px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    top: 0;
    right: -100%;
    transition: all 500ms ease-in-out 50ms;
    -webkit-transition: all 500ms ease-in-out 50ms;
    -moz-transition: all 500ms ease-in-out 50ms;
    -ms-transition: all 500ms ease-in-out 50ms;
    -o-transition: all 500ms ease-in-out 50ms;
}

#closeAddBookForm, #closeEditBookForm {
    height: 10%;
    align-self: flex-end;
    justify-self: flex-end;
    margin-top: 12px;
    margin-right: 12px;
    font-size: 1.4em;
    color: var(--primary);
    cursor: pointer;
}

.add-book-input-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.add-book-input-container>label {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-book-input-container>label>:not(input[type="checkbox"]) {
    height: 40px;
    width: 60%;
    padding-left: 12px;
    font-size: 1em;
}

.add-book-submit-btn, #submitEditBookForm {
    margin-top: auto;
    margin-bottom: 30px;
    height: 10%;
    width: 75%;
    font-size: 1.1em;
    border-radius: 12px;
    align-self: center;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.bookList-container, .bookmark-container {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-top: 20px;
    position: absolute;
    transition: all 500ms ease-in-out 50ms;
    -webkit-transition: all 500ms ease-in-out 50ms;
    -moz-transition: all 500ms ease-in-out 50ms;
    -ms-transition: all 500ms ease-in-out 50ms;
    -o-transition: all 500ms ease-in-out 50ms;
}

.bookList-container h3, .bookmark-container h3 {
    text-align: center;
}

#bookListRoot, #bookmarkRoot {
    width: 100%;
    height: 90%;
    padding: 15px 20px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.bookList-container h3, .bookmark-container h3 {
    margin-bottom: 24px;
}

.bookList-container {
    right: 0;
}

.bookmark-container {
    right: -100%;
}

.book-card-container {
    height: 170px;
    width: 350px;
    display: flex;
    background: var(--white);
    box-shadow: 2px 2px 5px gray;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.book-card-container img {
    width: 35%;
    height: 100%;
    box-shadow: 2px 2px 5px gray;
    z-index: 5;
    object-fit: cover;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.book-card-container ul {
    width: 65%;
    height: 100%;
    padding: 32px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 0 16px 16px 0;
    -webkit-border-radius: 0 16px 16px 0;
    -moz-border-radius: 0 16px 16px 0;
    -ms-border-radius: 0 16px 16px 0;
    -o-border-radius: 0 16px 16px 0;
}

.book-card-container ul li:first-child {
    font-size: 1.4em;
    font-weight: bolder;
    font-family: sans-serif;
    width: 100%;
    overflow: hidden;
}

.book-card-container section {
    display: flex;
    gap: 8px;
    align-self: flex-end;
    margin-top: auto;
}

.book-card-container section button {
    height: max-content;
    width: max-content;
    padding: 8px;
    background: transparent;
    border: none;
    font-weight: bold;
    border-radius: 0 25px 25px 25px;
    cursor: pointer;
    font-size: 1em;
    -webkit-border-radius: 0 25px 25px 25px;
    -moz-border-radius: 0 25px 25px 25px;
    -ms-border-radius: 0 25px 25px 25px;
    -o-border-radius: 0 25px 25px 25px;
}

.book-card-container section .remove-card-btn {
    color: var(--red);
}

.book-card-container section .edit-card-btn {
    color: var(--blue);
}

.book-card-container section .bookmark-card-btn {
    color: var(--primary);
}

.alert {
    position: fixed;
    top: 0;
    right: -100%;
    min-height: 67px;
    width: max-content;
    max-width: 90%;
    border-radius: 12px;
    padding: 16px 22px 17px 20px;
    display: flex;
    align-items: center;
    background: var(--success);
    transition-duration: 700ms;
}

.alert .icon-wrapper {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.253);
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert i {
    font-size: 21px;
    color: #fff;
}

.alert .fa-close {
    cursor: pointer;
    margin-left: 50px;
}

.alert p {
    color: #fff;
    font-family: Verdana;
    margin-left: 10px;
}

.alert p,
.alert p:visited,
.alert p:active {
    color: #fff;
}

.alert .open {
    margin-left: auto;
    margin-right: 5px;
}

.alert .close, .alert .open {
    color: #fff;
    transition: transform 0.5s;
    font-size: 18px;
    cursor: pointer;
}

.alert .close:hover, .alert .open:hover {
    transform: scale(1.3);
}